@using Microsoft.Owin.Security

@model ByteBank.Forum.ViewModels.ContaLoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.EditorForModel()
    @Html.ActionLink("Esqueci minha senha", "EsqueciSenha")
    <br />
    <input type="submit" value="Login" />
    <br />
}

@using (Html.BeginForm("LoginAuthExterna", "Conta"))
{
    var providersAutenticacao = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

    if (providersAutenticacao != null && providersAutenticacao.Any())
    {
        foreach (var provider in providersAutenticacao)
        {
            <button class="btn" type="submit" value="@provider.AuthenticationType" name="provider">
                @provider.Caption
            </button>
        }
    }
}